* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.scanner-ui {
  position: fixed;
  top: 5%;
  right: 5%;
  background: #ffffff50;
  border: 1px solid cyan;
  border-radius: 1.5rem;
  z-index: 2;
  width: 13rem;
  height: 4rem;
}
